.u-section-1 .u-sheet-1 {
  min-height: 1209px;
}

.u-section-1 .u-text-1 {
  margin: 82px 30px 0 auto;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 44px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 62px;
  margin-bottom: -17px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 430px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 500;
  margin: 8px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 26px 43px 0 39px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 500;
  margin: 24px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 500;
  margin: 8px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 26px 43px 0 39px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 500;
  margin: 24px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 500;
  margin: 8px auto 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 26px 43px 0 39px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 500;
  margin: 24px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 895px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 22px 30px;
}

.u-section-1 .u-list-2 {
  width: 510px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 571px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-6 {
  padding: 25px 10px 30px;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 1px auto 0 40px;
}

.u-section-1 .u-text-13 {
  font-weight: 500;
  margin: 7px auto 0;
}

.u-section-1 .u-text-14 {
  margin: 31px 43px 0 19px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 500;
  margin: 19px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 25px 10px 30px;
}

.u-section-1 .u-text-15 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 1px auto 0 40px;
}

.u-section-1 .u-text-16 {
  font-weight: 500;
  margin: 7px auto 0;
}

.u-section-1 .u-text-17 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 31px 43px 0 19px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 500;
  margin: 19px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 738px;
  }

  .u-section-1 .u-list-2 {
    width: 426px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-list-2 {
    width: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}