 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/h1_hero.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 619px;
}

.u-section-1 .u-text-1 {
  font-size: 8.125rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  letter-spacing: 6px;
  margin: 104px 274px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  margin: 19px 760px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 9px 880px 60px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 606px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 74px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 560px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 680px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 460px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 160px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 280px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 138px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 103px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 80px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 978px;
}

.u-section-2 .u-text-1 {
  margin: 33px 146px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 62px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 507px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 345px;
  height: 425px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 15px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 507px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: 6px;
  font-weight: 600;
  margin: 9px 0 0;
}

.u-section-2 .u-text-3 {
  transition-duration: 0.5s;
  font-weight: 400;
  margin: 26px 38px 60px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 418px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 418px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-2 .u-image-1 {
    width: 288px;
    height: 355px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1171px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 600px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 400px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1452px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 6px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 2px;
  }
}

.u-section-2 .u-text-3,
.u-section-2 .u-text-3:before,
.u-section-2 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 179px;
}

.u-section-3 .u-text-1 {
  margin: 50px 583px 50px 5px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 168px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 70px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 119px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 43px;
    margin-bottom: 43px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-4 .u-tabs-1 {
  min-height: 531px;
  height: auto;
  margin-top: 27px;
  margin-bottom: 60px;
}

.u-section-4 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-4 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-4 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 30px 28px;
}

.u-section-4 .u-group-elements-1 {
  min-height: 37px;
  margin: -20px auto 0;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-4 .u-line-1 {
  transform-origin: left center;
  margin-top: 10px;
  height: 3px;
  margin-bottom: 0;
}

.u-section-4 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-table-body-1 {
  text-transform: uppercase;
}

.u-section-4 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-2 {
  text-transform: none;
  font-weight: 700;
}

.u-section-4 .u-table-cell-3 {
  text-transform: none;
  font-style: italic;
}

.u-section-4 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-5 {
  text-transform: none;
  font-weight: 700;
}

.u-section-4 .u-table-cell-6 {
  text-transform: none;
  font-weight: 600;
  font-style: normal;
}

.u-section-4 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-8 {
  text-transform: none;
  font-weight: 700;
}

.u-section-4 .u-table-cell-9 {
  text-transform: none;
  font-style: italic;
}

.u-section-4 .u-table-cell-10 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-11 {
  text-transform: none;
  font-weight: 700;
}

.u-section-4 .u-table-cell-12 {
  text-transform: none;
  font-weight: 600;
  font-style: normal;
}

.u-section-4 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-14 {
  text-transform: none;
  font-weight: 700;
}

.u-section-4 .u-table-cell-15 {
  text-transform: none;
  font-weight: 600;
  font-style: normal;
}

.u-section-4 .u-btn-1 {
  text-transform: none;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  text-decoration: underline !important;
  padding: 0;
}

.u-section-4 .u-table-cell-16 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-17 {
  text-transform: none;
  font-weight: 700;
}

.u-section-4 .u-table-cell-18 {
  text-transform: none;
  font-style: italic;
}

.u-section-4 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-group-elements-2 {
  width: 1140px;
  min-height: 37px;
  margin: 0 -20px 0 auto;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-4 .u-line-2 {
  transform-origin: left center;
  margin-top: 10px;
  height: 3px;
  margin-bottom: 0;
}

.u-section-4 .u-table-2 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-block-23a7-170 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-block-23a7-171 {
  height: 46px;
}

.u-block-23a7-172 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-block-23a7-173 {
  background-image: none;
  font-weight: 700;
}

.u-block-23a7-174 {
  background-image: none;
  font-weight: 700;
}

.u-section-4 .u-table-body-2 {
  font-weight: 400;
}

.u-section-4 .u-table-cell-19 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-20 {
  font-style: italic;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  text-transform: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-table-cell-21 {
  font-weight: 600;
  font-style: normal;
}

.u-section-4 .u-table-cell-22 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-23 {
  font-weight: 600;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  text-transform: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-table-cell-24 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-25 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-26 {
  font-weight: 400;
  font-style: italic;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  text-transform: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-table-cell-27 {
  font-weight: 600;
  font-style: normal;
}

.u-section-4 .u-table-cell-28 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-29 {
  font-weight: 400;
  font-style: italic;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  text-transform: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-table-cell-30 {
  font-weight: 600;
  font-style: normal;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  text-decoration: underline !important;
  text-transform: none;
  padding: 0;
}

.u-section-4 .u-table-cell-31 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-32 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 800;
}

.u-section-4 .u-table-cell-33 {
  font-weight: 700;
  background-image: none;
}

.u-section-4 .u-table-cell-34 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-35 {
  font-weight: 400;
}

.u-section-4 .u-btn-7 {
  background-image: none;
  text-transform: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-table-cell-36 {
  font-weight: 600;
  font-style: normal;
}

.u-section-4 .u-table-cell-37 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-38 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-39 {
  font-weight: 600;
  font-style: normal;
}

.u-section-4 .u-table-cell-40 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-41 {
  font-weight: 400;
}

.u-section-4 .u-btn-8 {
  background-image: none;
  text-transform: none;
  font-weight: 700;
  padding: 0;
}

.u-section-4 .u-table-cell-42 {
  font-weight: 600;
  font-style: normal;
}

.u-section-4 .u-btn-9 {
  background-image: none;
  text-transform: none;
  font-style: italic;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-4 .u-table-cell-43 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-44 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-45 {
  font-weight: 600;
  font-style: normal;
}

.u-section-4 .u-table-cell-46 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-47 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-48 {
  font-weight: 600;
}

.u-section-4 .u-btn-10 {
  background-image: none;
  text-transform: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-4 .u-table-cell-49 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-50 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-51 {
  font-weight: 400;
}

.u-block-23a7-209 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-elements-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-table-cell-1 {
    border-style: double;
  }

  .u-section-4 .u-table-cell-2 {
    border-style: double;
  }

  .u-section-4 .u-table-cell-3 {
    border-style: double;
  }

  .u-section-4 .u-table-cell-4 {
    border-style: double;
  }

  .u-section-4 .u-table-cell-5 {
    border-style: double;
  }

  .u-section-4 .u-table-cell-6 {
    border-style: double;
  }

  .u-section-4 .u-table-cell-7 {
    border-style: double;
  }

  .u-section-4 .u-table-cell-8 {
    border-style: double;
  }

  .u-section-4 .u-table-cell-9 {
    border-style: double;
  }

  .u-section-4 .u-table-cell-10 {
    border-style: double;
  }

  .u-section-4 .u-table-cell-11 {
    border-style: double;
  }

  .u-section-4 .u-table-cell-12 {
    border-style: double;
  }

  .u-section-4 .u-table-cell-13 {
    border-style: double;
  }

  .u-section-4 .u-table-cell-14 {
    border-style: double;
  }

  .u-section-4 .u-table-cell-15 {
    border-style: double;
  }

  .u-section-4 .u-table-cell-16 {
    border-style: double;
  }

  .u-section-4 .u-table-cell-17 {
    border-style: double;
  }

  .u-section-4 .u-table-cell-18 {
    border-style: double;
  }

  .u-section-4 .u-group-elements-2 {
    width: 940px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-elements-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-elements-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1894px;
  }

  .u-section-4 .u-tabs-1 {
    margin-top: 0;
  }

  .u-section-4 .u-group-elements-2 {
    width: 340px;
  }
}

.u-section-4 .u-btn-1,
.u-section-4 .u-btn-1:before,
.u-section-4 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-color: transparent !important;
}

.u-section-4 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-color: transparent !important;
}

.u-section-4 .u-btn-1 {
  border-color: transparent !important;
} .u-section-5 {
  background-image: none;
  min-height: 418px;
}

.u-section-5 .u-shape-1 {
  height: 283px;
  margin: 0;
}

.u-section-5 .u-group-1 {
  width: 977px;
  min-height: 360px;
  height: auto;
  margin: -254px auto 29px;
}

.u-section-5 .u-container-layout-1 {
  padding: 38px 30px 70px;
}

.u-section-5 .u-text-1 {
  font-weight: 600;
  margin: 1px auto 0;
}

.u-section-5 .u-group-2 {
  width: 605px;
  min-height: 80px;
  height: auto;
  margin: 56px 143px 0 auto;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 1px;
  align-self: center;
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 20px 31px 20px 30px;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.125rem;
  text-transform: none;
  align-self: center;
  background-image: none;
  margin: -79px auto 0 0;
  padding: 19px 36px 21px 34px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-btn-1 {
    padding: 19px 0 21px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 542px;
  }

  .u-section-5 .u-shape-1 {
    height: 243px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-group-2 {
    margin-right: 55px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 520px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    min-height: 368px;
  }

  .u-section-5 .u-group-2 {
    width: 520px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 559px;
  }

  .u-section-5 .u-shape-1 {
    height: 238px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    min-height: 418px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-group-2 {
    width: 320px;
  }

  .u-section-5 .u-btn-1 {
    padding-right: 51px;
    padding-bottom: 20px;
    padding-left: 50px;
  }

  .u-section-5 .u-btn-2 {
    padding-right: 61px;
    padding-left: 59px;
  }
}